
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<scripts>
		





	</scripts>

@*@model List<FrontEnd.Models.tblPastEvent>*@
	<link href="~/App_Theme/ImageGallery.css" rel="stylesheet" />

	<div class="CurrentEventsWrap">

		<div class="HomeEventsHeader">Silver Jubliee</div>

		<div class="MainImgBlock">

			<div class="container">
				<div class="top">
					<ul>
						<li><a href="#img_5"><img src="~/SilverJublie/Silver Junilee 2.jpg" /></a></li>
						<li><a href="#img_6"><img src="~/SilverJublie/Silver Jubilee 10.jpg" /></a></li>
						<li><a href="#img_7"><img src="~/SilverJublie/Silver Jubilee 11.jpg" /></a></li>
						<li><a href="#img_8"><img src="~/SilverJublie/Silver Jubilee 13.jpg" /></a></li>
						<li><a href="#img_9"><img src="~/SilverJublie/Silver Jubilee 14.jpg" /></a></li>
						<li><a href="#img_10"><img src="~/SilverJublie/Silver Jubilee 15.jpg" /></a></li>
						<li><a href="#img_11"><img src="~/SilverJublie/Silver Jubilee 16.jpg" /></a></li>
						<li><a href="#img_12"><img src="~/SilverJublie/Silver Jubilee 17.jpg" /></a></li>
						<li><a href="#img_13"><img src="~/SilverJublie/Silver Jubilee 18.jpg" /></a></li>
						<li><a href="#img_14"><img src="~/SilverJublie/Silver Jubilee 19.jpg" /></a></li>
						<li><a href="#img_15"><img src="~/SilverJublie/Silver Jubilee 20.jpg" /></a></li>
						<li><a href="#img_16"><img src="~/SilverJublie/Silver Jubilee 21.jpg" /></a></li>
					</ul>
					<a href="#_5" class="lightbox trans" id="img_5"><img src="~/SilverJublie/Silver Junilee 2.jpg" /></a>
					<a href="#_6" class="lightbox trans" id="img_6"><img src="~/SilverJublie/Silver Jubilee 10.jpg" /></a>
					<a href="#_7" class="lightbox trans" id="img_7"><img src="~/SilverJublie/Silver Jubilee 11.jpg" /></a>
					<a href="#_8" class="lightbox trans" id="img_8"><img src="~/SilverJublie/Silver Jubilee 13.jpg" /></a>
					<a href="#_9" class="lightbox trans" id="img_9"><img src="~/SilverJublie/Silver Jubilee 14.jpg" /></a>
					<a href="#_10" class="lightbox trans" id="img_10"><img src="~/SilverJublie/Silver Jubilee 15.jpg" /></a>
					<a href="#_11" class="lightbox trans" id="img_11"><img src="~/SilverJublie/Silver Jubilee 16.jpg" /></a>
					<a href="#_12" class="lightbox trans" id="img_12"><img src="~/SilverJublie/Silver Jubilee 17.jpg" /></a>
					<a href="#_13" class="lightbox trans" id="img_13"><img src="~/SilverJublie/Silver Jubilee 18.jpg" /></a>
					<a href="#_14" class="lightbox trans" id="img_14"><img src="~/SilverJublie/Silver Jubilee 19.jpg" /></a>
					<a href="#_15" class="lightbox trans" id="img_15"><img src="~/SilverJublie/Silver Jubilee 20.jpg" /></a>
					<a href="#_16" class="lightbox trans" id="img_16"><img src="~/SilverJublie/Silver Jubilee 21.jpg" /></a>
				</div>
			</div>


		</div>

	</div>